  .brix---mg-bottom-48px-2 {
    margin-bottom: 48px;
  }

  .brix---inner-container-490px-center-2 {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .brix---mg-bottom-16px-2 {
    margin-bottom: 16px;
  }
  
  .brix---text-center-2 {
    text-align: center;
  }

  .brix---subtitle-2 {
    color: #4a3aff;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }

  .brix---color-neutral-808 {
    color: #211f54;
  }

    brix---heading-h2-size-3
  .brix--grid-2-columns-text-right {
    grid-column-gap: 120px;
    grid-row-gap: 28px;
    grid-template-rows: auto;
    grid-template-columns: 1fr .8fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }

  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .brix---grid-2-columns-text-left {
    grid-column-gap: 120px;
    grid-row-gap: 28px;
    grid-template-rows: auto;
    grid-template-columns: .8fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }

  .brix---color-neutral-807 {
    color: #6e7191;
  }

   .brix---paragraph-default-2 {
      font-size: 17px;
      line-height: 28px;
    }

  .brix---link-wrapper-2 {
    color: #211f54;
    align-items: center;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    transition: color .3s;
    display: flex;
  }
  
  .brix---link-wrapper-2:hover {
    color: #4a3aff;
  }

  .brix---color-accent-2 {
    color: #4a3aff;
  }

    .brix---text-200-bold-2 {
      font-size: 16px;
      line-height: 18px;
    }

    .brix---image-wrapper-br-24px-shadow {
      border-radius: 14px;
      box-shadow: 0 4px 22px rgba(20, 20, 43, .14);
    }

  .brix---color-neutral-808 {
    color: #211f54;
  }

  .brix---display-4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }

   .brix---mg-bottom-32px-2 {
      margin-bottom: 24px;
    }

  .brix---link-icon-right {
    margin-left: 6px;
  }