body {
  background-image: url("./background3.jpg");
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.25rem;
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Agregar overflow para contener el formulario */
}

a {
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem; /* Agregar padding al formulario */
}

fieldset {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
}

.legend {
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
  flex-basis: 100%;
}

input,
textarea,
select {
  flex-basis: calc(50% - 1rem);
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  margin: 0.15rem;
  opacity: 0.7;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  background-color: #3f51b5;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.1rem;
}

button:hover {
  background-color: #283593;
}

.button-final {
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  background-color: red;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem;
}

.button-final:hover {
  background-color: #ff9000;
}

.result {
  text-align: justify;
  background-color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: darkgray;
  color: white;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: 48%; /* Cambiar el flex-basis para dejar un pequeño espacio entre las columnas */
  margin-bottom: 1rem;
}

.footer {
  color: white;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #000;
  display: inline-block;
  cursor: pointer;
  margin: 0.5rem;
}

.description {
  font-size: 16px;
  color: white;
}

.range-label {
  font-size: 14px;
  color: white;
}

.adjustment {
  font-size: 16px;
}

.creativity-value {
  font-weight: bold;
  color: white;
}

